sudo: required

services:
  - docker

before_install:
  - docker build -t ashishchakerwerti/fend -f Docketfile.dev .

script: #which command to run with containers
  - docker run ashishchakerwerti/fend npm run test -- --coverage # -- --coverage is required to exit the tust post run else it will stuck till we press q !